- size_size_640 = Item.sizes(640, month)
- size_size_480 = Item.sizes(480, month)
- size_size_800 = Item.sizes(800, month)

- ops = Item.ops(0.5, month)
:css
  .multi-repeating-linear-#{month} {
    display: inline-block;
    height: 900px;
    width: 940px;
    margin: 0 auto;
    background:
      repeating-linear-gradient(190deg,
        hsla(332.9, 91.2%, 86.7%, #{ops[0]}) #{size_size_640[0]}px,
        hsla(12.9, 91.1%, 78%, #{ops[1]}) #{size_size_640[1]}px,
        hsla(47, 92%, 85.3%, #{ops[2]}) #{size_size_640[2]}px,
        hsla(169.9, 59.7%, 72.7%, #{ops[3]}) #{size_size_640[3]}px,
        hsla(196.9, 95.6%, 73.1%, #{ops[4]}) #{size_size_640[4]}px,
        hsla(241.6, 74.2%, 69.6%, #{ops[5]}) #{size_size_640[5]}px,
        hsla(258.9, 56.4%, 80.2%, #{ops[6]}) #{size_size_640[6]}px,
        rgba(207, 176, 233, #{ops[7]}) #{size_size_640[7]}px),
      repeating-linear-gradient(-190deg,
        hsla(332.9, 91.2%, 86.7%, #{ops[0]}) #{size_size_480[0]}px,
        hsla(12.9, 91.1%, 78%, #{ops[1]}) #{size_size_480[1]}px,
        hsla(47, 92%, 85.3%, #{ops[2]}) #{size_size_480[2]}px,
        hsla(169.9, 59.7%, 72.7%, #{ops[3]}) #{size_size_480[3]}px,
        hsla(196.9, 95.6%, 73.1%, #{ops[4]}) #{size_size_480[4]}px,
        hsla(241.6, 74.2%, 69.6%, #{ops[5]}) #{size_size_480[5]}px,
        hsla(258.9, 56.4%, 80.2%, #{ops[6]}) #{size_size_480[6]}px,
        rgba(207, 176, 233, #{ops[7]}) #{size_size_480[7]}px),
      repeating-linear-gradient(23deg,
        hsla(332.9, 91.2%, 86.7%, 1) #{size_size_800[0]}px,
        hsla(12.9,91.1%,78%, 1) #{size_size_800[1]}px,
        hsla(47,92%,85.3%, 1) #{size_size_800[2]}px,
        hsla(169.9,59.7%,72.7%, 1) #{size_size_800[3]}px,
        hsla(196.9,95.6%,73.1%, 1) #{size_size_800[4]}px,
        hsla(241.6,74.2%,69.6%, 1) #{size_size_800[5]}px,
        hsla(258.9,56.4%,80.2%, 1) #{size_size_800[6]}px,
        rgba(207, 176, 233, 1) #{size_size_800[7]}px);
    background-blend-mode: normal;
  }
