= render 'pages/dashboard_style', month: 7
= render 'pages/dashboard_style', month: 8
= render 'pages/dashboard_style', month: 9
= render 'pages/dashboard_style', month: 10
%section#dashboard-section
  .graph.slideshow-container
    .title.pull-right
      %div{style:"margin:40px 0px;"}
        Sailing
        %br
        Diary
        %br
        %span{style:"display:block;margin-top:-10px;padding-left:10px;"}
          Parti
    .color-pallet
      %table
        %tr
          %td.color-box{style:"background-color: #fa8dbe"}
          %td
            Joy
        %tr
          %td.color-box{style:"background-color: #faaa94"}
          %td
            Happy
        %tr
          %td.color-box{style:"background-color: #fcedb7"}
          %td
            Satisfied
        %tr
          %td.color-box{style:"background-color: #90e3d5"}
          %td
            Fun
        %tr
          %td.color-box{style:"background-color: #79d7fc"}
          %td
            Depressed
        %tr
          %td.color-box{style:"background-color: #7b78eb"}
          %td
            Exhausted
        %tr
          %td.color-box{style:"background-color: #d362e8"}
          %td
            Annoyed
        %tr
          %td.color-box{style:"background-color: #cfb0e9"}
          %td
            Nervous

    #js-slideshow{ 'data-url': refresh_dashboard_path }
      .js-slide-item.multi-repeating-linear{ 'data-month': 7 }
        .period-box.text-center
          2017.07.01 ~ 2017.07.31
      .js-slide-item.multi-repeating-linear{ 'data-month': 8 }
        .period-box.text-center
          2017.08.01 ~ 2017.08.31
      .js-slide-item.multi-repeating-linear{ 'data-month': 9 }
        .period-box.text-center
          2017.09.01 ~ 2017.09.30
      .js-slide-item.multi-repeating-linear{ 'data-month': 10 }
        .period-box.text-center
          2017.10.01 ~ 2017.10.31
      .js-slide-item.multi-repeating-linear{ 'data-month': 11 }
        .period-box.text-center
          2017.11.01 ~ 2017.11.30
  .feed
    %h3
      How was your day?
    .show-item{ "data-url": random_items_path }
      .card
        .card-item
          = render 'items/show', item: @item
        .card-item
