= render 'pages/dashboard_style', month: 7
= render 'pages/dashboard_style', month: 8
= render 'pages/dashboard_style', month: 9
= render 'pages/dashboard_style', month: 10
%section
  .container{style:"font-size:12px;"}

    %hr
    .multi-repeating-linear-8 8월
    .multi-repeating-linear-9 9월
    .multi-repeating-linear-10 10월

    %hr

    %div{style:"display:inline-block;width:100px;"}
      Joy:
      %br
      - selected_id = Emotion.where(title: 'Joy').map &:item_id
      - items = Item.where(id: selected_id)
      - items.group_by_month(:created_at).count.each do |key, value|
        = key
        \:
        = value
        %br
    %div{style:"display:inline-block;width:100px;"}
      Happy:
      %br
      - selected_id = Emotion.where(title: 'Happy').map &:item_id
      - items = Item.where(id: selected_id)
      - items.group_by_month(:created_at).count.each do |key, value|
        = key
        \:
        = value
        %br
    %div{style:"display:inline-block;width:100px;"}
      Satisfied:
      %br
      - selected_id = Emotion.where(title: 'Satisfied').map &:item_id
      - items = Item.where(id: selected_id)
      - items.group_by_month(:created_at).count.each do |key, value|
        = key
        \:
        = value
        %br
    %div{style:"display:inline-block;width:100px;"}
      Depressed:
      %br
      - selected_id = Emotion.where(title: 'Depressed').map &:item_id
      - items = Item.where(id: selected_id)
      - items.group_by_month(:created_at).count.each do |key, value|
        = key
        \:
        = value
        %br
    %div{style:"display:inline-block;width:100px;"}
      Exhausted:
      %br
      - selected_id = Emotion.where(title: 'Exhausted').map &:item_id
      - items = Item.where(id: selected_id)
      - items.group_by_month(:created_at).count.each do |key, value|
        = key
        \:
        = value
        %br
    %div{style:"display:inline-block;width:100px;"}
      Annoyed:
      %br
      - selected_id = Emotion.where(title: 'Annoyed').map &:item_id
      - items = Item.where(id: selected_id)
      - items.group_by_month(:created_at).count.each do |key, value|
        = key
        \:
        = value
        %br
    %div{style:"display:inline-block;width:100px;"}
      Nervous:
      %br
      - selected_id = Emotion.where(title: 'Nervous').map &:item_id
      - items = Item.where(id: selected_id)
      - items.group_by_month(:created_at).count.each do |key, value|
        = key
        \:
        = value
        %br
