= form_for @item do |f|
  .form-group
    = f.label :content
    = f.text_area :content, class: 'form-control'
  .form-group
    = f.label :emotion
    = f.select :emotion, {'감정1': 'emotion1', '감정2': 'emotion2', '감정3': 'emotion3'}, {}, class: 'form-control'
  = f.submit
