- colorMap = {'Joy': '#FA8DBE', 'Happy': '#FAAA94', 'Satisfied': '#FCEDB7', 'Fun': '#90E3D5', 'Depressed': '#79D7FC', 'Exhausted': '#C2B0E9', 'Annoyed': '#D362E8', 'Nervous': '#7B78EB'}
- background_option = @item.emotions.map { |emotion| colorMap.select { |k, _| k.to_s == emotion.title }.map { |_, v| v }.join(',') }.join(', ')

- if @item.emotions.count > 1
  - background_style = "background:linear-gradient(" + background_option + ")";
- else
  - background_style = "background-color:" + background_option

%section#show-section{style:"#{background_style}"}
  .container
    %p.content
      = @item.content.truncate(110)
    .meta
      = @item.created_at.to_date
      %br
      - @item.emotions.each do |emotion|
        %img{src: asset_url("#{emotion.title}_Emoji.png")}
    .control{style:"display:none;"}
      = link_to '삭제', @item, method: :delete, data: { confirm: '정말 삭제하시겠습니까?'}
