!!!
%html{:lang => I18n.locale}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
    = stylesheet_link_tag 'application', media: 'all'
    %link{href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel: "stylesheet"}

    = csrf_meta_tags

    %title
      항해일지
  %body{class: "app-#{params[:controller]} app-#{params[:controller]}-#{params[:action]}"}
    %section
      .container


    = yield
    = javascript_include_tag 'application'

    = yield :script if content_for?(:script)
